*~
*.bak
*.o
*.map
*-stamp
GPATH
GRTAGS
GSYMS
GTAGS
ChangeLog.pdf
ChangeLog.tex
config.mk
debian/files
debian/mrouted*.debhelper
debian/mrouted/
debian/*.substvars
debian/*.log
map-mbone
mrinfo
mrouted
mtrace
cfparse.c
vers.c
