.deps
.dirstamp
*~
*.bak
*-stamp
ID
GPATH
GRTAGS
GSYMS
GTAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-stamp
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
mrouted.service
stamp-h1
ylwrap
