.deps
.dirstamp
*~
*.bak
*.o
*.map
*-stamp
ID
GPATH
GRTAGS
GSYMS
GTAGS
ChangeLog.pdf
ChangeLog.tex
config.mk
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-stamp
compile
config.h
config.h.in
config.log
config.status
configure
debian/files
debian/mrouted*.debhelper
debian/mrouted/
debian/*.substvars
debian/*.log
depcomp
install-sh
missing
mrouted.service
stamp-h1
cfparse.c
vers.c
ylwrap
