Source: mrouted
Section: net
Priority: optional
Maintainer: Joachim Nilsson <troglobit@gmail.com>
Build-Depends: debhelper (>= 10), bison | byacc | btyacc, pkg-config, systemd
Standards-Version: 4.3.0
Homepage: https://troglobit.com/mrouted.shtml
Vcs-Browser: https://github.com/troglobit/mrouted
Vcs-Git: https://github.com/troglobit/mrouted.git

Package: mrouted
Architecture: any
Conflicts: smcroute, pimd, quagga-pimd
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.0-6)
Description: Simple multicast routing for UNIX
 mrouted is the original implementation of the DVMRP multicast routing
 protocol, RFC 1075.
 .
 mrouted is *simple* to use.  DVMRP is derived from RIP, which means it
 works stand-alone without any extra network setup required.  You can get
 up and running in a matter of minutes.  Use the built-in IP-in-IP
 tunneling support, or GRE, to traverse Internet or intranets.

Package: mrinfo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Display configuration info from a multicast router
 mrinfo displays configuration information about DVMRP routers.  It does
 this by sending ASK_NEIGHBORS IGMP messages to the specified router.
 .
 If the router responds, its version number and a list of all neighboring
 multicast routers is included in the response.  mrinfo then proceeds to
 request additional information, such as metrics, thresholds and flags.

Package: mtrace
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Print multicast path from a source to a receiver
 Assessing problems in the distribution of IP multicast traffic
 can be difficult.  mtrace utilizes a tracing feature implemented
 in DVMRP multicast routers, mrouted version 3.3 and later, that is
 accessed via an extension to the IGMP protocol.  A trace query is
 passed hop-by-hop along the reverse path from the receiver to the
 source, ollecting hop addresses, packet counts, and routing error
 conditions along the path, and then the response is returned to
 the requestor.

Package: map-mbone
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multicast connection mapper
 map-mbone attempts to display all multicast routers reachable from
 the current multicast router.  Like mrinfo it sends ASK_NEIGHBORS
 IGMP messages to discover available DVMRP, mrouted, routers.

