Source: mrouted
Section: net
Priority: optional
Maintainer: Joachim Nilsson <troglobit@gmail.com>
Build-Depends: debhelper (>= 7), bison | byacc | btyacc
Standards-Version: 3.9.1

Package: mrouted
Architecture: any
Homepage: http://github.com/troglobit/mrouted
Depends: ${shlibs:Depends}
Conflicts: pimd, smcroute
Description: Multicast routing daemon for closely located users in LAN networks.
 Mrouted is an implementation of the Distance-Vector Multicast Routing
 Protocol (DVMRP), an earlier version of which is specified in RFC-1075.  
 .
 Mrouted turns a UNIX workstation into a DVMRP multicast router with tunnel
 support, in order to cross non-multicast-aware routers.  The tunnels are
 virtual point-to-point, IP-IP tunnel, links between a pair of mrouted routers.
