#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# See dpkg-buildflags(1) manpage
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with autoreconf,systemd

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog.md
